/*

Style with support for rainbow parens

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #606f7b;
  color: #ebebeb;
}


.hljs-comment,
.hljs-quote {
  color: #b8c2cc;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-attr,
.hljs-attribute{
  color: #9dd5ff;
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ffc4d1;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #bbff00;
}

.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in,
.hljs-tag{
  color: #ffffff;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-class .hljs-title {
   color: #e9f75a;
}

.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}