<div class="section">
    <h1>Tables</h1>
    <h3>.table</h3>
    <p>
        Add <code>.table</code> to make a <code>div</code> behave like a
        <code>table</code> element. This is helpful when you want a table to
        not be a table anymore in a different screensize. Use size modifiers
        <code>-sm</code>, <code>-md</code>, <code>-lg</code>, or <code>-xl</code>
        to designate when table should be active.
    </p>
    <div class="grid-md">
        <div class="col-6-md">
            <div class="table-md bg-white border rounded overflow-hidden">
                <div class="row">
                    <div>Cell 1</div>
                    <div>Cell 2</div>
                    <div>Cell 3</div>
                </div>
                <div class="row">
                    <div>Cell 4</div>
                    <div>Cell 5</div>
                    <div>Cell 6</div>
                </div>
            </div>
        </div>
        <div class="col-6-md">
            <% block = html_block do %>
<div class="table-md">
    <div class="row">
        <div>Cell 1</div>
        <div>Cell 2</div>
        <div>Cell 3</div>
    </div>
    <div class="row">
        <div>Cell 4</div>
        <div>Cell 5</div>
        <div>Cell 6</div>
    </div>
</div>
            <% end %>
            <%= block %>
        </div>
    </div>
    
    <h3>UniformTable</h3>
    <div class="grid-md">
        <div class="col-6-md">
            <div class=" bg-white border rounded overflow-hidden">
                <table class="uniformTable">
                    <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                    </tr>
                    <tr>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                    </tr>
                </table>
            </div>
            
        </div>
        <div class="col-6-md">
            <% block = html_block do %>
<table class="uniformTable">
    <thead>
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
    </tr>
    </thead>
    <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
    </tr>
    <tr>
        <td>Cell 4</td>
        <td>Cell 5</td>
        <td>Cell 6</td>
    </tr>
</table>
            <% end %>
            <%= block %>
        </div>
        <div class="col-6-md">
            <div class="bg-white border rounded overflow-hidden">
                <table class="uniformTable">
                    <thead class="dark">
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                    </tr>
                    <tr>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                    </tr>
                </table>
            </div>
            
        </div>
        <div class="col-6-md">
            <% block = html_block do %>
<table class="uniformTable">
    <thead class="dark">
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
    </tr>
    </thead>
    <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
    </tr>
    <tr>
        <td>Cell 4</td>
        <td>Cell 5</td>
        <td>Cell 6</td>
    </tr>
</table>
            <% end %>
            <%= block %>
        </div>
    </div>
</div>