<div class="section">
    <h1>UniformTooltip</h1>
    <div class="grid-md">
        <div class="col-6-md">
            <p>
                The Infield Fly Rule
                <span class="uniformLabel -fill uniformTooltip pointer" data-tooltip-message="The umpire's declaration of an infield fly means that the batter is out (and all force plays are removed) regardless of whether the ball is caught. The rule exists to prevent the defense from achieving a double play or triple play by failing to catch a ball that an infielder could catch with ordinary effort.">?</span>
                is not called in a consistent manner. Just ask the St Louis Cardinals.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                The Ground Rule Double
                <span class="uniformLabel -fill uniformTooltip pointer" data-tooltip-message="Trust me this is real.">?</span>
                is different for every stadium in MLB.
            </p>
        </div>
        <div class="col-6-md">
            <% block = html_block do %>
The Infield Fly Rule <span class="uniformLabel -fill uniformTooltip pointer" data-tooltip-message="Trust me this is real.">?</span>
            <% end %>
            <%= block %>
        </div>
    </div>
</div>