<div class="section">
    <h1>Utilities</h1>
    <p>
        Utility classes are very basic rules that modify usually apply 1 or 2 attributes to an element.
        They are meant to make UI process fast and easy.
    </p>
    
    <h2>Modifier Hierarchy</h2>
    <p>Most utility classess have modifying attributes that follow this pattern:</p>
    <% code 'html' do %>
        <div class="[scope]:[attribute][-direction][-size/color]"></div>
    <% end %>
    
    <h3>Examples</h3>
    <table class="flex space-h align-top-*">
        <tr class="">
            <td class="pad-right-2x">
                <code class="text-purple">
                    sm:pad-top-2x
                </code>
            </td>
            <td class="">
                <% code 'css', css_class: 'tight text-xs' do %>
                    @media max-width: 719px){
                        .pad-top-2x{
                            padding-top: 2rem;
                        }
                    }
                <% end %>
            </td>
        </tr>
        <tr class="">
            <td class="pad-right-2x pad-top">
                <code class="text-purple">
                    hover:bg-blue-dark
                </code>
            </td>
            <td class="pad-top">
                <% code 'css', css_class: 'tight text-xs' do %>
                    .hover:bg-blue-dark:hover{
                        background: #0994E2
                    }
                <% end %>
            </td>
        </tr>
    </div>
 </div>