<p>Mix and match styles to make the right button, all colors are available as well.</p>
<p><code><%= CGI::escapeHTML "<a href='#' class='uniform-btn'></a>" %></code></p>
<table class="table" cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th>Normal</th>
        <th><code>.green</code></th>
    </tr>
    <tr>
        <th></th>
        <td><a class="uniform-btn">Button</a></td>
        <td><a class="uniform-btn green">Button</a></td>
    </tr>
    <tr>
        <th><code>:hover</code> or <code>.hover</code></th>
        <td><a class="uniform-btn hover">Button</a></td>
        <td><a class="uniform-btn green hover">Button</a></td>
    </tr>
    <tr>
        <th><code>:active</code> or <code>.active</code></th>
        <td><a class="uniform-btn active">Button</a></td>
        <td><a class="uniform-btn green active">Button</a></td>
    </tr>
    <tr>
        <th><code>:disabled</code> or <code>.disabled</code></th>
        <td><a class="uniform-btn disabled">Button</a></td>
        <td><a class="uniform-btn green disabled">Button</a></td>
    </tr>
    <tr>
        <th><code>.subtle</code></th>
        <td><a class="uniform-btn subtle">Button</a></td>
        <td><a class="uniform-btn green subtle">Button</a></td>
    </tr>
    <tr>
        <th><code>.small</code></th>
        <td><a class="uniform-btn small">Button</a></td>
        <td><a class="uniform-btn green small">Button</a></td>
    </tr>
    <tr>
        <th><code>.large</code></th>
        <td><a class="uniform-btn large">Button</a></td>
        <td><a class="uniform-btn green large">Button</a></td>
    </tr>
    <tr>
        <th><code>.outline</code></th>
        <td><a class="uniform-btn outline">Button</a></td>
        <td><a class="uniform-btn green outline">Button</a></td>
    </tr>
    <tr>
        <th><code>.circle</code></th>
        <td><a class="uniform-btn circle">Button</a></td>
        <td><a class="uniform-btn green circle">Button</a></td>
    </tr>
    <tr>
        <th><code>.block</code></th>
        <td><a class="uniform-btn block">Button</a></td>
        <td><a class="uniform-btn green block">Button</a></td>
    </tr>
</table>