<p>Uses Bootstrap3 grid notation</p>
<div class="row">
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <div class="green-light-bg">col-sm-2</div>
    </div>
    <div class="col-sm-6">
        <div class="green-light-bg">col-sm-6</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
</div>
<br>
<pre><xmp><div class="row">
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
</div></xmp></pre>
<br>
<div class="row">
    <div class="col-sm-3 col-sm-push-2">
        <div class="green-light-bg">.col-sm-3 .col-sm-push-2</div>
    </div>
</div>
<br>
<div class="row dividers">
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
    <div class="col-sm-4">
        <div class="green-light-bg">col-sm-4</div>
    </div>
</div>
<br>


<h3>Breakpoints</h3>
<p><code>xs</code> = 480px</p>
<p><code>sm</code> = 768px</p>
<p><code>md</code> = 992px</p>
<p><code>lg</code> = 1200px</p>