<div class="row">
    <div class="col-sm-6">
        <vr>
    </div>
    <div class="col-sm-6">
        <pre><xmp><vr></xmp></pre>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <code>.rounded</code>, <code>.round</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>border-radius: 50%</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.handle</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>cursor: hand;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.pointer</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>cursor: pointer;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.honeypot</code>
    </div>
    <div class="col-sm-6">
<pre><xmp>position:absolute !important;
left:-999999px !important;
width:1px !important;
display:block !important;
</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.hidden, .hide</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>display:none;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.right</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>float:right;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.text-right</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>text-align: right;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.text-center</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>text-align: center;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.clear</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>clear:both;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.pad</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>padding:10px;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.text-overflow</code>
    </div>
    <div class="col-sm-6">
<pre><xmp>text-overflow: inherit;
white-space: inherit;
overflow: inherit;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.strong, .bold</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>font-weight: 700;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.light, .text-light</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>font-weight: 300;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.text-normal</code>
    </div>
    <div class="col-sm-6">
        <pre><xmp>font-weight: normal;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.warn</code>
    </div>
    <div class="col-sm-6">
<pre><xmp>color:lighten($gray, 20);
&:hover{
    color:$red;
}</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>p.large</code>
    </div>
    <div class="col-sm-6">
<pre><xmp>font-size:1.5em;
font-weight:300;
margin-bottom:20px;</xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <code>.nowrap</code>
    </div>
    <div class="col-sm-6">
<pre><xmp>white-space: nowrap;
overflow:hidden;</xmp></pre>
    </div>
</div>