<p>Add to your gem file<br/><code>gem 'uniform-ui'</code></p>
<p>Execute:<br/><code>$ bundle</code></p>
<p>Or install it yourself:<br/><code>$ gem install uniform-ui</code></p>
<p>Include the css library in your asset pipeline.<br/><code>@import 'uniform';</code></p>