<div class="row">
    <div class="col-sm-6">
        <ol class="uniform-step">
            <li>Fill out the form</li>
            <li>Join the club</li>
            <li>Chill</li>
        </ol>
    </div>
    <div class="col-sm-6">
<pre><xmp>
<ol class="uniform-step">
    <li>Fill out the form</li>
    <li>Join the club</li>
    <li>Chill</li>
</ol></xmp></pre>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ul class="uniform-checks">
            <li>Fill out the form</li>
            <li>Join the club</li>
            <li>Chill</li>
        </ul>
    </div>
    <div class="col-sm-6">
<pre><xmp>
<ul class="uniform-checks">
    <li>Fill out the form</li>
    <li>Join the club</li>
    <li>Chill</li>
</ul></xmp></pre>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ul class="uniform-icons">
            <li data-icon="&#xf18b">Fill out the form</li>
            <li data-icon="&#xf113">Join the club</li>
            <li data-icon="&#xf121">Chill</li>
        </ul>
    </div>
    <div class="col-sm-6">
<pre><xmp>
<ul class="uniform-icons">
    <li data-icon="&#xf18b">Fill out the form</li>
    <li data-icon="&#xf113">Join the club</li>
    <li data-icon="&#xf121">Chill</li>
</ul></xmp></pre>
    </div>
</div>