<div class="row">
    <div class="col-sm-6">
        <div class="uniform-loader">
            <div class="uniform-loader-container">
                <span>&bull;</span>
                <span>&bull;</span>
                <span>&bull;</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
<pre><xmp><div class="uniform-loader">
    <div class="uniform-loader-container">
        <span>&bull;</span>
        <span>&bull;</span>
        <span>&bull;</span>
    </div>
</div></xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <span style="position:relative; display:inline-block">
            <img src="https://unsplash.it/150/100/?random" style="display:block;" width="150" height="100">
            <div class="uniform-loader cover">
                <div class="uniform-loader-container">
                    <span>&bull;</span>
                    <span>&bull;</span>
                    <span>&bull;</span>
                </div>
            </div>
        </span>
    </div>
    <div class="col-sm-6">
<pre><xmp><span style="position:relative; display:inline-block">
    <img src="https://unsplash.it/150/100/?random" style="display:block;">
    <div class="uniform-loader cover">
        <div class="uniform-loader-container">
            <span>&bull;</span>
            <span>&bull;</span>
            <span>&bull;</span>
        </div>
    </div>
</span></xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <span style="position:relative; display:inline-block">
            <img src="https://unsplash.it/150/100/?random" style="display:block;" width="150" height="100">
            <div class="uniform-loader cover light">
                <div class="uniform-loader-container">
                    <span>&bull;</span>
                    <span>&bull;</span>
                    <span>&bull;</span>
                </div>
            </div>
        </span>
    </div>
    <div class="col-sm-6">
<pre><xmp><span style="position:relative; display:inline-block">
    <img src="https://unsplash.it/150/100/?random" style="display:block;">
    <div class="uniform-loader cover light">
        <div class="uniform-loader-container">
            <span>&bull;</span>
            <span>&bull;</span>
            <span>&bull;</span>
        </div>
    </div>
</span></xmp></pre>
    </div>
</div>