<div class="uniform-nav">
    <div class="brand">
        <img src="site/logo.png" height="31" width="137">
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul class="uniform-nav-right">
        <li><a href="#">Login</a></li>
    </ul>
</div>
<div class="uniform-nav uniform-nav-subnav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><span style="font-family: 'fortycons'">&#xf113;</span></li>
        <li><a href="#">Nav</a></li>
        <li><span style="font-family: 'fortycons'">&#xf113;</span></li>
        <li><a href="#">Preview</a></li>
    </ul>
</div>

<br><br>
<pre><xmp><div class="uniform-nav">
    <div class="brand">
        <img src="site/logo.png" height="31" width="137">
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul class="uniform-nav-right">
        <li><a href="#">Login</a></li>
    </ul>
</div>
<div class="uniform-nav uniform-nav-subnav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><span style="font-family: 'fortycons'">&#xf113;</span></li>
        <li><a href="#">Nav</a></li>
        <li><span style="font-family: 'fortycons'">&#xf113;</span></li>
        <li><a href="#">Preview</a></li>
    </ul>
</div></xmp></pre>