<a class="uniform-row" href="#rows">
    <span class="uniform-row-avatar">
        <img src="https://unsplash.it/63/47/?random" width="63" height="47">
    </span>
    <span class="uniform-row-container">
        <span class="col-sm-6">
            John Doe
            <span class="uniform-row-secondary">ABC Designs</span>
        </span>
        <span class="col-sm-3">
            Garland, TX
        </span>
        <span class="col-sm-3">
            Texas Ranger Fan
        </span>
    </span>
</a>
<br><br>
<pre><xmp><a class="uniform-row" href="#rows">
    <span class="uniform-row-avatar">
        <img src="https://unsplash.it/63/47/?random" width="63" height="47">
    </span>
    <span class="uniform-row-container">
        <span class="col-sm-6">
            John Doe
            <span class="uniform-row-secondary">ABC Designs</span>
        </span>
        <span class="col-sm-3">
            Garland, TX
        </span>
        <span class="col-sm-3">
            Texas Ranger Fan
        </span>
    </span>
</a></xmp></pre>