<div class="section">
    <h1>Cards</h1>
    <div class="grid">
        <div class="col-6">
            <div class="uniformCard">
                <div class="uniformCard-header">
                    <span class="title">Sample Card</span>
                </div>
                <div class="uniformCard-body">Put Content In Here</div>
            </div>
        </div>
        <div class="col-6">
            <% html_block do %>
<div class="uniformCard">
    <div class="uniformCard-header">
        <span class="title">Sample Card</span>
    </div>
    <div class="uniformCard-body">Put Content In Here</div>
</div>
            <% end %>
        </div>
    </div>
</div>