<div class="section">
    <h1>UniformDropdown</h1>
    <div class="grid-md">
        <div class="col-6-md">
            <button class="uniformButton green large uniformDropdown" data-dropdown-content="This is example dropdown">
                Show Dropdown
            </button>
        </div>
        <div class="col-6-md">
<% html_block do %>
$('.uniformDropdown').uniformDropdown();
<% end %>
            <% html_block do %>
<button class="uniformButton green large uniformDropdown" data-dropdown-content="This is example dropdown">
    Show Dropdown
</button>
            <% end %>
        </div>
    </div>
    <div class="grid-md">
        <div class="col-6-md">
            <button class="uniformButton green large uniformDropdown" data-dropdown-target="#dropdown-example">
                Show Dropdown
            </button>
            <div class="hidden text-no-decoration" id="dropdown-example">
                <a href="#" class="block pad-half">Link 1</a>
                <a href="#" class="block pad-half">Link 2</a>
                <a href="#" class="block pad-half">Link 3</a>
                <a href="#" class="block pad-half">Link 4</a>
            </div>
        </div>
        <div class="col-6-md">
            <% html_block do %>
<button class="uniformButton green large uniformDropdown" data-dropdown-target="#dropdown-example">
Show Dropdown
</button>
<div class="hidden text-no-decoration" id="dropdown-example">
<a href="#" class="block pad-half">Link 1</a>
<a href="#" class="block pad-half">Link 2</a>
<a href="#" class="block pad-half">Link 3</a>
<a href="#" class="block pad-half">Link 4</a>
</div>
            <% end %>
        </div>
    </div>
</div>
<div class="section">
    <h3>Programmatically</h3>
    <% html_block do %>
new UniformDropdown({
    el: $(this),
    content: "This is your modal content",
}).render()
    <% end %>
    <table class="uniformTable margin-2x">
        <tr>
            <th>
                Options
            </th>
            <th>Accepts</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>
                content
            </td>
            <td>
                <code>string</code> |
                <code>$(element)</code>
            </td>
            <td>
                Rendered as content
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                align
            </td>
            <td>
                <code>left</code>, <code>center</code>, <code>right</code>
            </td>
            <td>
                Align dropdown to trigger element
            </td>
            <td>
                <code>center</code>
            </td>
        </tr>
        <tr>
            <td>
                trigger
            </td>
            <td>
                <code>click</code>, <code>focus</code>, <code>mouseover</code>...
            </td>
            <td>
                Trigger to show dropdown. Space separated.
            </td>
            <td>
                <code>click focus</code>
            </td>
        </tr>
        <tr>
            <td>
                show_arrow
            </td>
            <td>
                <code>true</code> | <code>false</code>
            </td>
            <td>
                Toggle showing arrow/triangle outside of dropdown
            </td>
            <td>
                <code>true</code>
            </td>
        </tr>
        <tr>
            <td>
                hide_sm
            </td>
            <td>
                <code>true</code> | <code>false</code>
            </td>
            <td>
                Toggle showing dropdown in 'sm' browsers (&lt; 720px)
            </td>
            <td>
                <code>false</code>
            </td>
        </tr>
    </table>

    <table class="uniformTable margin-2x">
        <tr>
            <th>Events</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                shown
            </td>
            <td>
                After dropdown is shown
            </td>
        </tr>
        <tr>
            <td>
                hidden
            </td>
            <td>
                After dropdown is hidden
            </td>
        </tr>
    </table>
    <table class="uniformTable margin-2x">
        <tr>
            <th>Methods</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>
                on(event, handler)
            </td>
            <td>
                Add event listener
            </td>
            <td>
                <code>dropdown.on('hidden', function(modal_instance){...})</code>
            </td>
        </tr>
        <tr>
            <td>
                show
            </td>
            <td>
                Close modal
            </td>
            <td>
                <code>dropdown.close()</code>
            </td>
        </tr><tr>
            <td>
                hide
            </td>
            <td>
                Hide dropdown
            </td>
            <td>
                <code>dropdown.close()</code>
            </td>
        </tr>
    </table>
</div>
<div class="section">
    <h3>Using JQuery</h3>
    <% html_block do %>
<button class="uniformButton green large uniformDropdown" data-dropdown-content="This is example dropdown">
    Show Dropdown
</button>
    <% end %>
    <% html_block do %>
$('.uniformDropdown').uniformDropdown();
    <% end %>
    <table class="uniformTable margin-2x">
        <tr>
            <th>
                Options
            </th>
            <th>Accepts</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>
                data-dropdown-content
            </td>
            <td>
                <code>string</code> |
                <code>$(element)</code>
            </td>
            <td>
                Rendered as content
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                data-dropdown-align
            </td>
            <td>
                <code>left</code>, <code>center</code>, <code>right</code>
            </td>
            <td>
                Align dropdown to trigger element
            </td>
            <td>
                <code>center</code>
            </td>
        </tr>
        <tr>
            <td>
                data-dropdown-trigger
            </td>
            <td>
                <code>click</code>, <code>focus</code>, <code>mouseover</code>...
            </td>
            <td>
                Trigger to show dropdown. Space separated.
            </td>
            <td>
                <code>click focus</code>
            </td>
        </tr>
        <tr>
            <td>
                data-dropdown-show_arrow
            </td>
            <td>
                <code>true</code> | <code>false</code>
            </td>
            <td>
                Toggle showing arrow/triangle outside of dropdown
            </td>
            <td>
                <code>true</code>
            </td>
        </tr>
        <tr>
            <td>
                data-dropdown-hide_sm
            </td>
            <td>
                <code>true</code> | <code>false</code>
            </td>
            <td>
                Toggle showing dropdown in 'sm' browsers (&lt; 720px)
            </td>
            <td>
                <code>false</code>
            </td>
        </tr>
    </table>
    <h3>Events</h3>
    <p>Events fired on the <code>launchUniformModal</code> element.
    <table class="uniformTable">
        <tr>
            <th>Events</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                dropdown-shown
            </td>
            <td>
                After dropdown is shown
            </td>
        </tr>
        <tr>
            <td>
                dropdown-hidden
            </td>
            <td>
                After dropdown is hidden
            </td>
        </tr>
    </table>
</div>