<div class="row">
    <div class="col-sm-6">
        <form class="uniform-form">
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Phone</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Twitter</label>
                    <input type="text">
                    <label>Facebook</label>
                    <input type="text">
                    <label>Instagram</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-8">
                    <label>Details</label>
                    <textarea rows="9"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
<pre><xmp><form class="uniform-form">
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Phone</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Twitter</label>
                    <input type="text">
                    <label>Facebook</label>
                    <input type="text">
                    <label>Instagram</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-8">
                    <label>Details</label>
                    <textarea rows="9"></textarea>
                </div>
            </div>
        </form></xmp></pre>
    </div>
</div>

<h3>Has Error</h3>
<div class="row">
    <div class="col-sm-6">
        <form class="uniform-form">
            <div class="row">
                <div class="uniform-form-group col-sm-12">
                    <div class="has-error">
                        <label>Name</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
<pre><xmp><form class="uniform-form">
    <div class="row">
        <div class="uniform-form-group col-sm-4">
            <div class="has-error">
                <label>Name</label>
                <input type="text">
            </div>
        </div>
    </div>
</form></xmp></pre>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <form class="uniform-form uniform-form-table">
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Phone</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Twitter</label>
                    <input type="text">
                    <label>Facebook</label>
                    <input type="text">
                    <label>Instagram</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-8 col-span-2">
                    <label>Details</label>
                    <textarea rows="6"></textarea>
                </div>
            </div>
        </form>
        <br>
        <form class="uniform-form uniform-form-table">
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="uniform-form-group col-sm-4">
                    <div class="has-error">
                        <label>Email</label>
                        <input type="text">
                    </div>
                </div>
                <div class="uniform-form-group col-sm-4">
                    <label>Phone</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="uniform-form-group col-sm-4">
                    <label>Twitter</label>
                    <input type="text">
                    <label>Facebook</label>
                    <input type="text">
                    <div class="has-error">
                        <label>Instagram</label>
                        <input type="text">
                    </div>
                </div>
                <div class="uniform-form-group col-sm-8 col-span-2">
                    <label>Details</label>
                    <textarea rows="6"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
<pre><xmp><form class="uniform-form uniform-form-table">
    <div class="row">
        <div class="uniform-form-group col-sm-4">
            <label>Name</label>
            <input type="text">
        </div>
        <div class="uniform-form-group col-sm-4">
            <label>Email</label>
            <input type="text">
        </div>
        <div class="uniform-form-group col-sm-4">
            <label>Phone</label>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="uniform-form-group col-sm-4">
            <label>Twitter</label>
            <input type="text">
            <label>Facebook</label>
            <input type="text">
            <label>Instagram</label>
            <input type="text">
        </div>
        <div class="uniform-form-group col-sm-8 col-span-2">
            <label>Details</label>
            <textarea rows="6"></textarea>
        </div>
    </div>
</form></xmp></pre>
    </div>
</div>