<h3>Uniform Input</h3>
<div class="row">
    <div class="col-sm-6">
        <p><input type="text" class="uniform-input" /></p>
        <p><input type="text" class="uniform-input large" /></p>
    </div>
    <div class="col-sm-6">
<pre><xmp><input type="text" class="uniform-input" /></xmp></pre>
<pre><xmp><input type="text" class="uniform-input large" /></xmp></pre>
    </div>
</div>

<h3>Custom Inputs</h3>
<div class="row">
    <div class="col-sm-6">
        <p>Styled Select Box</p>
        <p><span class="uniform-select"><select><option>An Option</option></select></span></p>
    </div>
    <div class="col-sm-6">
<pre><xmp><span class='uniform-select'>
<select>
    <option>An Option</option>
</select>
</span></xmp></pre>
    </div>
</div>

<h3>Inline Inputs</h3>
<p>Ever want to put in an input and it's label in line, and have it be 100% width responsive? Well, you can't, unless you use something like inline-input.</p>
<div class="row">
    <div class="col-sm-6">
        <div class="inline-input">
            <span class="label">
                <label for="rate">$</label>
            </span>
            <span>
                <input id="rate">
            </span>
            <span class="units">
                <label for="rate">/hour</label>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
<pre><xmp><div class="inline-input">
<span class="label">$</span>
<span>
    <input id="name" placeholder="Jonathan Doe">
</span>
<span class="units">/hour</span>
</div></xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="inline-input">
            <span class="label"><label for="car">Car Preference</label></span>
            <span class="select"><select id="car"><option>Tesla</option></select></span>
        </div>
    </div>
    <div class="col-sm-6">
<pre><xmp><div class="inline-input">
<span class="label">
    <label for="car">Car Preference</label>
</span>
<span>
    <select id="car"><option>Tesla</option></select>
</span>
</div></xmp></pre>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="inline-input block">
            <span class="label">
                <label for="car">Car Preference</label>
            </span>
            <span>
                <input id="name" value="Jonathan Doe" disabled>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
<pre><xmp><div class="inline-input block">
<span class="label">
    <label for="car">Car Preference</label>
</span>
<span>
    <input id="name" value="Jonathan Doe" disabled>
</span>
</div></xmp></pre>
    </div>
</div>