<div class="section">
    <h1>Loaders</h1>
    <div class="grid">
        <div class="col-6">
            <div class="uniform-loader">
                <div class="uniform-loader-container">
                    <span>&bull;</span>
                    <span>&bull;</span>
                    <span>&bull;</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <% html_block do %>
<div class="uniform-loader">
    <div class="uniform-loader-container">
        <span>&bull;</span>
        <span>&bull;</span>
        <span>&bull;</span>
    </div>
</div>
            <% end %>
        </div>
    </div>
    <div class="grid">
        <div class="col-6">
            <code>.cover</code><br>
            <span style="position:relative; display:inline-block">
                <img src="https://unsplash.it/150/100/?random" style="display:block;" width="150" height="100">
                <div class="uniform-loader cover">
                    <div class="uniform-loader-container">
                        <span>&bull;</span>
                        <span>&bull;</span>
                        <span>&bull;</span>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-6">
            <% html_block do %>
<span style="position:relative; display:inline-block">
    <img src="https://unsplash.it/150/100/?random" style="display:block;">
    <div class="uniform-loader cover">
        <div class="uniform-loader-container">
            <span>&bull;</span>
            <span>&bull;</span>
            <span>&bull;</span>
        </div>
    </div>
</span>
            <% end %>
        </div>
    </div>
    <div class="grid">
        <div class="col-6">
            <code>.cover.light</code><br>
            <span style="position:relative; display:inline-block">
                <img src="https://unsplash.it/150/100/?random" style="display:block;" width="150" height="100">
                <div class="uniform-loader cover light">
                    <div class="uniform-loader-container">
                        <span>&bull;</span>
                        <span>&bull;</span>
                        <span>&bull;</span>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-6">
            <% html_block do %>
<span style="position:relative; display:inline-block">
    <img src="https://unsplash.it/150/100/?random" style="display:block;">
    <div class="uniform-loader cover light">
        <div class="uniform-loader-container">
            <span>&bull;</span>
            <span>&bull;</span>
            <span>&bull;</span>
        </div>
    </div>
</span>
            <% end %>
        </div>
    </div>
</div>