*{
    box-sizing:border-box;
}
html, body{
    background: #ffffff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
    line-height: 1.5;
}

.section{
    width:100%;
    padding: 100px 50px;
    border-bottom:1px solid darken(white, 20);
    pre:first-of-type{
        margin-top:0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin-top:2em;
        margin-bottom:0.5em;
        &:first-of-type{
            margin-top: 0;
        }
    }
}

.side-nav{
    font-size: 1.2em;
    position:fixed;
    overflow-y:scroll;
    width:250px;
    height:100%;
    border-right:1px solid darken(white, 20);
    a{
        color: black;
    }
    @media only screen and (max-width: 700px) {
        width: auto;
        img{
            display:none;
        }
    }
}

.main-content{
    margin-left:250px;
    @media only screen and (max-width: 700px) {
        margin-left: 0;
    }
}

.swatch{
    height:1em;
    width:4em;
    margin-right:5px;
    background:gray;
    display:inline-block;
    vertical-align:middle;
}

code{
    background: #ecffb2;
    color: #709239;
}
pre{
    code{
        padding: 1em;
        border-radius: 0.25em;
        border: 1px solid #dedede;
        background: #e6e6e6;
        overflow: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top:2em;
    margin-bottom:0.5em;
}