<div class="section">
    <h1>Rows</h1>
    <a class="uniformRow grid" href="#rows">
        <span class="col-90-px avatar">
            <img src="https://unsplash.it/63/47/?random" width="63" height="47">
        </span>
        <span class="col-fill">
            John Doe
            <span class="subtle block">ABC Designs</span>
        </span>
        <span class="col">
            Garland, TX
        </span>
        <span class="col pad ">
            Texas Ranger Fan
        </span>
    </a>
    <br><br>
    <% html_block do %>
<a class="uniformRow grid" href="#rows">
    <span class="col-90-px avatar">
        <img src="https://unsplash.it/63/47/?random" width="63" height="47">
    </span>
    <span class="col-fill">
        John Doe
        <span class="subtle block">ABC Designs</span>
    </span>
    <span class="col">
        Garland, TX
    </span>
    <span class="col">
        Texas Ranger Fan
    </span>
</a>
    <% end %>
</div>