<div class="section">
    <h1>uniformTabs</h1>
    <div class="uniformTabs margin">
        <a>Tab 1</a>
        <a class="active">Tab 2</a>
        <a>Tab 3</a>
        <a>Tab 4</a>
    </div>
    <% html_block do %>
<div class="uniformTabs">
    <a>Tab 1</a>
    <a class="active">Tab 2</a>
    <a>Tab 3</a>
    <a>Tab 4</a>
</div>
    <% end %>
</div>