<div class="section">
    <h1>UniformTile</h1>
    <div class="grid margin">
        <% (1..8).each do |index| %>
            <div class="uniformTile col-3-md">
                <div class="avatar">
                    <div class="avatar-container">
                        <img src="https://unsplash.it/300/200/?random" width="300" height="200" class="bg-gray">
                    </div>
                </div>
                <div class="">
                    <div class="text-bold">
                        Name
                    </div>
                    <div class="text-muted">
                        Title
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <p>
        <code>.avatar-container</code> ensures the 3:2 aspect ratio for the
        image while it's still loading. As well as deals with images that are not quite 3:2 in size. 
    </p>
    <% html_block do %>
<div class="uniformTile col-3-md">
    <div class="avatar">
        <div class="avatar-container">
            <img src="https://unsplash.it/300/200/?random" width="300" height="200" class="bg-gray">
        </div>
    </div>
    <div class="">
        <div class="text-bold">
            Name
        </div>
        <div class="text-muted">
            Title
        </div>
    </div>
</div>
    <% end %>
</div>