<div class="section">
    <h1>UniformTooltip</h1>
    <div class="grid-md">
        <div class="col-6-md">
            <p>
                The Infield Fly Rule
                <span class="uniformLabel pad-2x fill uniformTooltip pointer" data-tooltip-message="The umpire's declaration of an infield fly means that the batter is out (and all force plays are removed) regardless of whether the ball is caught. The rule exists to prevent the defense from achieving a double play or triple play by failing to catch a ball that an infielder could catch with ordinary effort.">?</span>
                is not called in a consistent manner. Just ask the St Louis Cardinals.
            </p>
        </div>
        <div class="col-6-md">
            <% html_block do %>
The Infield Fly Rule <span class="uniformLabel pad-2x fill uniformTooltip pointer" data-tooltip-message="The umpire's declaration of an infield fly means that the batter is out (and all force plays are removed) regardless of whether the ball is caught. The rule exists to prevent the defense from achieving a double play or triple play by failing to catch a ball that an infielder could catch with ordinary effort.">?</span>
            <% end %>
        </div>
    </div>
</div>