<div class="section">
    <h1>
        Dropdown
        <span class="uniformLabel -yellow-60">JS</span>
    </h1>
    
    <p class="text-xl text-light margin-v-2x">
        Toggle a dropdown on an anchor.
    </p>
    
    <div class="flex space-h margin-v-2x">
        <div class="">
            <button class="uniformButton" id="example-1">
                Toggle Dropdown
            </button>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    new window.Uniform.Dropdown({
                        anchor: document.getElementById('example-1'),
                        content: "<div class='uniformPointer shadow shadow-opacity-40 bg-white pad'>Here's Content</div>"
                    }).render()
                })
            </script>
        </div>
        <div class="flex-fill width-fill overflow-hidden">
            <% code 'javascript', {css_class: 'overflow-y-scroll width-fill'} do %>
                import {Dropdown} from 'uniform';
                new Dropdown({
                    anchor: document.getElementById('example-1'),
                    content: "Here's content"
                })
            <% end %>
        </div>
    </div>
    
    <h3 class="margin-none">Options</h3>
    <table class="uniformTable margin-bottom-4x align-top-*">
        <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
            <th>Default</th>
            <th></th>
        </tr>
        <thead>
        <tr>
            <td class="text-nowrap"><code>anchor</code></td>
            <td class="text-nowrap">Element</td>
            <td>Element to anchor content to.</td>
            <td></td>
            <td class="text-nowrap"><span class="uniformLabel -red">REQUIRED</span></td>
        </tr>
        <tr>
            <td class="text-nowrap"><code>content</code></td>
            <td>HTML</td>
            <td>HTML to render into popover.</td>
            <td></td>
            <td class="text-nowrap"><span class="uniformLabel -red">REQUIRED</span></td>
        </tr>
        <tr>
            <td class="text-nowrap"><code>align</code></td>
            <td>String</td>
            <td>How to align the popover to the anchor <code>left|right|center|#px top|center|bottom|#px</code></td>
            <td class="text-nowrap"> <code>'center bottom'</code></td>
            <td class="text-nowrap"><span class="uniformLabel">OPTIONAL</span></td>
        </tr>
        <tr>
            <td class="text-nowrap"><code>container</code></td>
            <td>Element</td>
            <td>Element to append popover to.</td>
            <td class="text-nowrap"><code>document</code></td>
            <td class="text-nowrap"><span class="uniformLabel">OPTIONAL</span></td>
        </tr>
    </table>
    
    
</div>