<div class="section">
    <h1>
        uniformFloatingLabel
        <span class="uniformLabel -yellow-60">JS</span>
    </h1>
    
    <p class="text-xl text-light margin-v-2x">
        UniformFloatingLabel can be applied to any input. It appends a label on top of an input, and adds <code class="text-nowrap">aria-label</code> for accessibility.
    </p>
    
    <div class="flex space-h">
        <div class="">
            <div class="text-bold">
                Base
            </div>
            <input class="example pad-1/2x text-md width-full" type="text" id="example-1" />
        </div>
        <div class="">
            <div class="text-bold">
                Starting Value
            </div>
            <input class="example pad-1/2x text-md width-full" type="text" id="example-2" value="test" />
        </div>
        <div class="">
            <div class="text-bold">
                Original
            </div>
            <input class="pad-1/2x text-md width-full" type="text" id="example-3" value="test" />
        </div>
        <div class="flex-fill">
            <% code 'javascript' do %>
                import {FloatingLabel} from 'uniform';
                const toggle = new FloatingLabel({
                    label: 'Name',
                    input: document.getByElementId('example')
                }).render()
            <% end %>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('.example').forEach(el => {
                new window.Uniform.FloatingLabel({
                    label: 'Name',
                    input: el
                }).render()
            })
        })
    </script>
    
    <h3 class="margin-none">Options</h3>
    <table class="uniformTable margin-bottom-4x align-top-*">
        <tr>
            <td class="text-nowrap"><code>label</code></td>
            <td class="text-nowrap"><code>String</code></td>
            <td>Label to float.</td>
            <td class="text-nowrap"><span class="uniformLabel -red">REQUIRED</span></td>
        </tr>
        <tr>
            <td class="text-nowrap"><code>input</code></td>
            <td class="text-nowrap"><code>Object || Element</code></td>
            <td>What to use for the input. If not element, then it will render using options passed to <code>input</code></td>
            <td class="text-nowrap"><span class="uniformLabel">OPTIONAL</span></td>
        </tr>
        <tr>
            <td class="text-nowrap"><code>class: "text-red", ...</code></td>
            <td></td>
            <td>Accepts any html attribute that is then appended to the element that wraps the input.</td>
            <td class="text-nowrap"><span class="uniformLabel">OPTIONAL</span></td>
        </tr>
    </table>
</div>