<div class="section">
    <h1>
        Modal
        <span class="uniformLabel -yellow-60">JS</span>
    </h1>
    <p class="text-xl text-light margin-v-2x">
        Render any content into a modal
    </p>
    
    <div class="flex margin-v-2x space-h">
        <div class="flex-auto">
            <button class="uniformButton text-nowrap" id="example-1">Toggle Example</button>
            
            <script>
                document.getElementById('example-1').addEventListener('click', function (e) {
                    document.body.append(new window.Uniform.Modal({
                    content: "<div class=\"bg-green-20 border border-green text-green-80 pad rounded max-width-30-vw\"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>"
                    }).show())
                })
            </script>
        </div>
        <div class="flex-fill width-fill overflow-hidden">
            <% code 'javascript', {css_class: 'width-fill overflow-x-scroll'} do %>
                import {Modal} from 'uniform';
                new Modal({
                    content: '<div class="bg-green-20 border border-green text-green-80 pad rounded">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>'
                }).render()
            <% end %>
        </div>
    </div>
    
    <h3>Options</h3>
    <div class="border border-gray-30 bg-white rounded">
        <table class="uniformTable align-top-*">
            <tr>
                <th>Option</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <code>content</code>
                </td>
                <td>
                    String or Element
                </td>
                <td>
                    HTML or Element to render
                </td>
            </tr>
            <tr>
                <td class="text-nowrap"><code>class, name, id, value</code></td>
                <td>String</td>
                <td>Accepts any html attribute that is then rendered on the modal element.</td>
            </tr>
        </table>
    </div>
    
    <h3>Events</h3>
    <div class="border border-gray-30 bg-white rounded">
        <table class="uniformTable align-top-*">
            <tr>
                <th>Event</th>
                <th>Description</th>
                <th>Arguments</th>
            </tr>
            <tr>
                <td>
                    rendered
                </td>
                <td>
                    After modal is rendered
                </td>
                <td>
                    none
                </td>
            </tr>
            <tr>
                <td>
                    closed
                </td>
                <td>
                    After modal is closed
                </td>
                <td>
                    none
                </td>
            </tr>
        </table>
    </div>
</div>