<div class="section">
    <h1>
        Resizer
        <span class="uniformLabel -yellow-60">JS</span>
    </h1>
    <p class="text-xl text-light margin-v-2x">
        Uniform's Resizer takes an element, and toggles classes that trigger Uniform's breakpoint scope utility based on that elements size instead of the window size.
    </p>
    
    <div class="flex space-h margin-v-2x">
        <% code 'html', {css_class: 'overflow-y-scroll width-fill'} do %>
            <div id="example">
                <div class="sm:bg-green">
                    stuff
                </div>
            </div>
        <% end %>
        <% code 'javascript', {css_class: 'overflow-y-scroll width-fill'} do %>
            import {Resizer} from 'uniform';
            new Resizer({
                el: document.getElementById('example')
            })
        <% end %>
    </div>
    
    <h3 class="margin-top">
        Example
    </h3>
    <div class="">
        <div class="example margin-v" style="width: 730px">
            <div class="sm:bg-blue bg-yellow bg-opacity-50 rounded pad">
                <% code 'html', {css_class: 'tight text-sm'} do %>
                    <div style="width: 730px" class="sm:bg-blue bg-yellow"></div>
                <% end %>
            </div>
        </div>
        
        <div class="example margin-v" style="width: 400px">
            <div class="sm:bg-blue bg-yellow bg-opacity-50 rounded pad">
                <% code 'html', {css_class: 'tight text-sm'} do %>
                    <div style="width: 400px" class="sm:bg-blue bg-yellow"></div>
                <% end %>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                document.querySelectorAll('.example').forEach(el => {
                    new window.Uniform.Resizer({
                        el: el
                    })
                })
            })
        </script>
    </div>
</div>