<div class="section">
    <h1>UniformThumb</h1>
    <p>
        The size of the image doesn't matter, it will fill the shape of the div.uniformThumb using <code>object-fit: cover;</code>.
    </p>
    <p>
        Requires height of uniformThumb to be set or use responsive aspect ratio liner.
    </p>
    <h4>Aspect Ratio Liner</h4>
    <% block = html_block class: "html" do %>
    <div class="uniformThumb">
        <!-- Aspect Ratio Liner -->
        <div class="aspect-4x3"> 
            <img src="https://unsplash.it/200/200/?random" width="200" height="200">
        </div>
        <!-- END Aspect Ratio Liner -->
    </div>
    <% end %>
    <%= block %>
    <div class="grid margin-v-2x grid-nest">
        <div class="col margin-bottom">
            <div class="uniformThumb width-full-px height-100-px">
                <img src="https://unsplash.it/200/200/?random" width="200" height="200">
            </div>
        </div>
        <div class="col margin-bottom">
            <code>aspect-2x1</code><br/>
            <div class="uniformThumb width-full-px">
                <div class="aspect-2x1">
                    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
                </div>
            </div>
        </div>
        <div class="col margin-bottom">
            <code>aspect-4x3</code><br/>
            <div class="uniformThumb width-full-px">
                <div class="aspect-4x3">
                    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
                </div>
            </div>
        </div>
        <div class="col margin-bottom">
            <code>aspect-square</code><br/>
            <div class="uniformThumb width-full-px">
                <div class="aspect-square">
                    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
                </div>
            </div>
        </div>
        <div class="col margin-bottom">
            <code>.text</code><br/>
            <div class="uniformThumb width-full-px">
                <div class="aspect-square">
                    <div class="text">
                        Text
                    </div>
                </div>
            </div>
        </div>
        <div class="col margin-bottom">
            <code>.text</code><br/>
            <div class="uniformThumb width-full-px">
                <div class="aspect-square">
                    <div class="text">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><path d="M28.998 8.531l-2.134-2.134c-0.394-0.393-1.030-0.393-1.423 0l-12.795 12.795-6.086-6.13c-0.393-0.393-1.029-0.393-1.423 0l-2.134 2.134c-0.393 0.394-0.393 1.030 0 1.423l8.924 8.984c0.393 0.393 1.030 0.393 1.423 0l15.648-15.649c0.393-0.392 0.393-1.030 0-1.423z" fill="#BBFF00"></path></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col  margin-bottom">
            <code>.round.overflow-hidden</code><br/>
            <div class="uniformThumb width-full-px round overflow-hidden">
                <div class="aspect-square">
                    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
                </div>
            </div>
        </div>
        <div class="col margin-bottom">
            <code>.rounded.overflow-hidden</code><br/>
            <div class="uniformThumb width-full-px -square rounded overflow-hidden">
                <div class="aspect-square">
                    <img src="https://unsplash.it/200/200/?random" width="200" height="200">
                </div>
            </div>
        </div>
    </div>
    <div class="margin-v-2x">
        <div class="uniformCard width-50-p-md overflow-hidden">
            <div class="uniformThumb width-full">
                <div class="aspect-2x1">
                    <img src="https://unsplash.it/400/200/?random" width="400" height="200">
                </div>
            </div>
            <div class="pad">
                <h1>UniformCard Using UniformThumb</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>